<!DOCTYPE html>
<html>
    <head>
     <title>
         hello
     </title>

    </head>
    <body>
        <p>hiiiii</p>
                 <img style="-webkit-user-select: none;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Suresh_Raina1.jpg/260px-Suresh_Raina1.jpg">
    </body>
</html>